<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
	 internalLogFile="c:\temp\internal-nlog.txt"
     internalLogLevel="Info"
     internalLogToConsole="true">

	<!-- Hedefler -->
	<targets>
		<!-- Info logları -->
		<target name="infoFile"
				xsi:type="File"
				fileName="${basedir}/logs/info/${shortdate}.log"
				archiveFileName="${basedir}/logs/info/archive/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				archiveDateFormat="yyyy-MM-dd"
				encoding="utf-8"
				async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}"/>
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

		<!-- Error logları -->
		<target name="errorFile"
				xsi:type="File"
				fileName="${basedir}/logs/error/${shortdate}.log"
				archiveFileName="${basedir}/logs/error/archive/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				archiveDateFormat="yyyy-MM-dd"
				encoding="utf-8"
				async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}"/>
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=toString}" />
			</layout>
		</target>

		<!-- Request/Response logları -->
		<target name="requestResponseFile"
				xsi:type="File"
				fileName="${basedir}/logs/requests/${shortdate}.log"
				archiveFileName="${basedir}/logs/request-response/archive/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				archiveDateFormat="yyyy-MM-dd"
				encoding="utf-8"
				async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}"/>
				<attribute name="logger" layout="${logger}" />
				<attribute name="eventId" layout="${event-properties:item=EventId_Id}" />
				<attribute name="url" layout="${aspnet-request-url}" />
				<attribute name="action" layout="${aspnet-mvc-action}" />
				<attribute name="message" layout="${message}" />
				<attribute name="method" layout="${aspnet-request-method}" />
				<attribute name="statusCode" layout="${aspnet-response-statuscode}" />
				<attribute name="userAgent" layout="${aspnet-request-useragent}" />
				<attribute name="ipAddress" layout="${aspnet-request-ip}" />
			</layout>
		</target>

		<!-- Konsol -->
		<target name="console"
				xsi:type="Console">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=HH\:mm\:ss}" />
				<attribute name="level" layout="${level:uppercase=true}"/>
				<attribute name="message" layout="${message}" />
			</layout>
		</target>
	</targets>

	<!-- Kurallar -->
	<rules>
		<!-- Error logları -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<!-- Info logları -->
		<logger name="*" level="Info" writeTo="infoFile" />
		<!-- Request/Response logları -->
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="requestResponseFile" />
		<!-- Konsol -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>